//////////////////////////////////////////////////////////////////////////
//
// pgAgent - PostgreSQL Tools
// 
// Copyright (C) 2002 - 2024, The pgAdmin Development Team
// This software is released under the PostgreSQL Licence
//
// pgAgent.rc - win32 Resources
//
//////////////////////////////////////////////////////////////////////////

#include <winver.h>

// Icon (Don't remove the aaa prefix - it makes it the default icon)
aaaPGAGENT      ICON         "pgAgent.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    4,2,3,0
PRODUCTVERSION 4,2,3,0
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion",     "4.2.3"
            VALUE "File Description", "pgAgent - PostgreSQL Scheduling Agent"
            VALUE "LegalCopyright",  "© 2002 - 2024, The pgAdmin Development Team"
            VALUE "LegalTrademarks", "This software is released under the PostgreSQL Licence."
            VALUE "InternalName",    "pgAgent"
            VALUE "OriginalFilename","pgagent.exe"
            VALUE "ProductName",     "pgAgent"
            VALUE "ProductVersion",  "4.2.3"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
